<div class="">
  <h1>Add new space</h1>
  <form class="" action="index.html" method="post">
    <label for="description">Description</label>
    <input type="text" id="description" ame="description">
    <label for="price">Price</label>
    <input type="text" id="price" name="price">
    <input type="submit" value="Submit">
  </form>
</div>
