<div class="">
  <h1>Add new space</h1>
  <form action="/add_space" method="post">
    <label for="description">Description</label>
    <input type="text" id="description" name="description">
    <label for="price">Price</label>
    <input type="text" id="price" name="price">
    <input type="submit" value="Submit">
  </form>
</div>
