<%= erb :nav %>
<div class="container">
  <div class="jumbotron">
    <h1>Makers BnB</h1>
  </div>
  <% if flash[:notice] %>
    <div class="alert alert-danger centered" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div >
    <%= erb :'users/new' %>
  </div>
</div>
