<form action="/request_booking" method="post">
  <input type="hidden" name="space_id" value="<%= @space.id %>">
  <input type="text" name="date" value="">
  <input type="submit" value="Submit">
</form>
