<h3>Booking Form</h3>

<%= flash[:notice] %>
<a href="/spaces/<%= @space.id %>/edit">Edit</a>
<form action="/request_booking" method="post">
  <input type="hidden" name="space_id" value="<%= @space.id %>">
  <label for="date">Date</label>
  <input type="date" name="date" id="date">
  <input type="submit" value="Submit">
</form>
