<!DOCTYPE html>
<html>
<head>
<title>Makers BnB</title>
</head>

<body>
  <% if @user %>
    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out" />
    </form>
    <h1>Book a space</h1>
  <% end %>
  <% for space in @spaces %>
  <div>
    <h3><%= space.description %></h3>
  </div>
  <% end %>
  <h2 style="color:red">
    <%= flash[:notice] %>
  </h2>
</body>

</html>
