<!DOCTYPE html>
<html>
<head>
<title>Makers BnB</title>
</head>

<body>
  <h1>Book a space</h1>
  <% for space in @spaces %>
  <div>
    <h3> <a href="/space/<%= space.id %>"><%= space.description %></a> £<%= space.price %></h3>
  </div>
  <% end %>
</body>

</html>
