<h2>Sign up</h2>
<br>
<form method="post" action="/users">
  <input type="email" name="email" placeholder="Email address">
    <input type="first_name" name="first_name" placeholder="First name">
      <input type="last_name" name="last_name" placeholder="Last name">
  <input type="password" name="password" placeholder="Create a Password">
  <input type="submit" value="Sign up">
</form>
<br />
  <h2 style="color:red">
    <%= flash[:notice] %>
  </h2>
